.git
.github
node_modules
vendor
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
storage/logs/*.log
bootstrap/cache/*.php
public/storage
.env
Homestead.yaml
Homestead.json
default.conf